# ==========================
# macOS
# ==========================
.DS_Store

# ==========================
# Python
# ==========================
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# ==========================
# Cocotb / Verilator
# ==========================
sim_build/
**/sim_build/

*.vcd
*.fst
*.wlf

results.xml

Vtop
V*
!*.sv
!*.svh

# ==========================
# Vivado
# ==========================
.cache/
.gen/
.hw/
.ip_user_files/
.runs/
.sim/

*.jou
*.log
*.str

# Bitstreams
*.bit
*.bin

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Temporary files
# ==========================
*.swp
*~